@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');

*{
    padding: 0;
    margin: 0;
}
.all-font{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* share style */
.nav-font{
    font-weight: 400px;
    font-size: 20px;
    color: rgb(71, 71, 71);
}
.btn{
    background-color: rgb(253, 110, 10);
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
.btn-center{
    text-align: center;
}
.description{
    color: rgb(117, 117, 117);
    text-align: justify;
    margin-bottom: 10px;
}

 /* share style */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin: 15px 168px;
}
.nav-bar h3{
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}
.nav-bar .span-style{
    color: rgb(253, 110, 10);
}
.nav-bar ul{
    list-style: none;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: space-around;
}
.nav-bar ul a{
    text-decoration: none;
}
.nav-bar ul a:hover{
    text-decoration: underline;
}

/* bannar area */
.bannar{
    display: flex;
    justify-content: space-between;
    margin: 12px 15px 10px 30px;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left top,right bottom;
    position: relative;
}
.bannar .left-contain{
    width: 580px;
    position: relative;
    top: 100px;
    left: 160px;
}
.bannar .left-contain .hi{
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
}
.bannar .left-contain .mary{
    color: rgb(24, 24, 24);
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}
.bannar .left-contain .shot{
    color: rgb(117, 117, 117);
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    margin:25px 0px;
}

/* main area,section one */
main{
    margin: 130px 190px;
}
.section-one{
    background-color: rgb(255, 248, 243);
    padding: 100px 120px;
    margin-bottom: 50px;
}
.section-one .about-me{
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 2px solid rgb(117, 117, 117);;
}
.about-me h3{
    font-size: 30px;
    font-weight: 700px;
    text-align: center;
    margin-bottom: 10px;
}
.section-one .personal-inf{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}
.section-one .personal-inf p{
    color: rgb(117, 117, 117);
}
.section-one .personal-inf h4{
    color: rgb(117, 117, 117);
}
/* section two style */

/* .section-two{

} */
.section-two .skill-title .what{
    text-align: center;
    margin: 25px auto;

}
.section-two .skill-title h3{
    margin-bottom: 20px;
}
.section-two .skill-cointainer{
    display: flex;
    margin: 40px auto;
    gap: 40px;
}
.section-two .skill-cointainer .skill{
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.section-two .skill-cointainer .skill img{
    margin-bottom: 10px;
}
.title-two{
    margin-bottom: 10px;
}
/* style section three */
.section-three{
    margin: 80px 0px;
}
.section-three .resume-container{
    display: flex;
    gap: 65px;
    margin: 70px 0px;
}
.section-three .resume-main-title{
    text-align: center;
    margin: 20px 0px;
}
.section-three .resume-colum-title{
    margin-bottom: 25px;
}
.section-three .resumr-name-title{
    margin-bottom: 4px;
    color: rgb(71, 71, 71);
}
.section-three .sub-title{
    margin-bottom: 15px;
    color: rgb(117, 117, 117);
}
.section-three hr{
    margin: 30px 7px;
}
/* footer area style */
.footer{
    padding: 130px 230px;
    background-color: rgb(255, 248, 243);
    display: flex;
    gap: 100px;
}
.footer .massage-area{
    width: 50%;
}
.footer .massage-tittle{
    margin-bottom: 15px;
}
.footer .icon-area{
    display: flex;
    gap: 10px;
}
.footer .icon-area a{
    text-decoration: none;
}
.footer .massage-area input[type="text"],input[type="email"]{
    width: 100%;
    display: block;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
}
.footer .massage-area #text{
    width: 100%;
    display: block;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
}